{{#if page.attributes.next}}
  {{#if page.attributes.previous}}
    <div class="bottom-links">
      <div>
      {{#unless page.attributes.no-previous}}
        <a class="bottom-link" href="{{site.path}}{{page.attributes.previous}}"><i class="icofont-double-left icofont-3x"></i>{{{page.attributes.previous-title}}}
        </a>
      {{/unless}}
      </div><div>
      {{#unless page.attributes.no-next}}
          <a class="bottom-link" href="{{site.path}}{{page.attributes.next}}">{{{page.attributes.next-title}}}<i class="icofont-double-right icofont-3x"></i>
          </a>
      {{/unless}}
      </div>
    </div>
  {{else}}
    <div class="bottom-links">
      <div>
    {{#unless page.attributes.no-previous}}
        <a class="bottom-link" href="{{site.path}}{{page.previous.url}}"><i class="icofont-double-left icofont-3x"></i>{{{page.previous.content}}}
        </a>
    {{/unless}}
      </div><div>
    {{#unless page.attributes.no-next}}
        <a class="bottom-link" href="{{site.path}}{{page.attributes.next}}">{{{page.attributes.next-title}}}<i class="icofont-double-right icofont-3x"></i>
        </a>
    {{/unless}}
      </div></div>
  {{/if}}
{{else if page.attributes.previous}}
  <div class="bottom-links">
    <div>
  {{#unless page.attributes.no-previous}}
      <a class="bottom-link" href="{{site.path}}{{page.attributes.previous}}"><i class="icofont-double-left icofont-3x"></i>{{{page.attributes.previous-title}}}
      </a>
  {{/unless}}
    </div><div>
  {{#unless page.attributes.no-next}}
      <a class="bottom-link" href="{{site.path}}{{page.next.url}}">{{{page.next.content}}}<i class="icofont-double-right icofont-3x"></i>
      </a>
  {{/unless}}
    </div></div>
{{else}}
  <div class="bottom-links">
    <div>
  {{#unless page.attributes.no-previous}}
      <a class="bottom-link" href="{{site.path}}{{page.previous.url}}"><i class="icofont-double-left icofont-3x"></i>{{{page.previous.content}}}
    </a>
  {{/unless}}
    </div><div>
  {{#unless page.attributes.no-next}}
      <a class="bottom-link" href="{{site.path}}{{page.next.url}}">{{{page.next.content}}}<i class="icofont-double-right icofont-3x"></i>
      </a>
  {{/unless}}
    </div>
  </div>
{{/if}}






