<nav class="crumbs" role="navigation" aria-label="breadcrumbs">
  <ul>
    {{#if component.title}}
    {{#unless (or component.root (eq page.breadcrumbs.0.content component.title))}}
    <li class="crumb"><a href="{{{relativize page.url component.url}}}">{{{component.title}}}</a></li>
    {{/unless}}
    {{/if}}
    {{#each page.breadcrumbs}}
    {{#if (and ./url (eq ./urlType 'internal'))}}
    <li class="crumb"><a href="{{{relativize @root.page.url ./url}}}">{{{./content}}}</a></li>
    {{else}}
    <li class="crumb">{{{./content}}}</li>
    {{/if}}
    {{/each}}
  </ul>
</nav>
