<nav class="crumbs" role="navigation" aria-label="breadcrumbs">
  <ul>
    {{#if domain.title}}
    {{#unless (or domain.root (eq domain.title breadcrumbs.0.title))}}
    <li class="crumb"><a href="{{{domain.url}}}">{{{domain.title}}}</a></li>
    {{/unless}}
    {{/if}}
    {{#each breadcrumbs}}
    {{#if ./url}}
    <li class="crumb"><a href="{{{./url}}}">{{{./title}}}</a></li>
    {{else}}
    <li class="crumb">{{{./title}}}</li>
    {{/if}}
    {{/each}}
  </ul>
</nav>
