<header class="header">
  <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-brand">
          <a href="https://lisk.io" class="lisk-logo"></a>
            <span  class="nav-brand__name-area">
            {{#if (eq page.component.name "lisk-core") }}
              <strong class="nav-brand__name-area__title">Core {{site.title}}</strong>
            {{else if (eq page.component.name "lisk-protocol") }}
              <strong class="nav-brand__name-area__title">Protocol {{site.title}}</strong>
            {{else}}
              <strong class="nav-brand__name-area__title">SDK {{site.title}}</strong>
            {{/if}}
              </span>
          <button class="navbar-burger" data-target="topbar-nav">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">Docs</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{site.url}}/lisk-sdk/">Lisk SDK</a>
                <a class="navbar-item" href="{{site.url}}/lisk-core/">Lisk Core</a>
              </div>
            </div>
            {{#if (eq page.component.name "lisk-core") }}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="https://lisk.io/documentation/lisk-sdk/tutorials/index.html">Getting Started</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{site.url}}/lisk-core/getting-started/maintain-a-node.html">Become a node operator</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/getting-started/interact-with-network.html">Interact with the network</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="https://lisk.io/documentation/lisk-sdk/tutorials/index.html">Setup</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{site.url}}/lisk-core/setup/binary.html">Binary (default)</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/setup/commander.html">Commander</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/setup/docker.html">Docker</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/setup/source.html">Source</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="https://lisk.io/documentation/lisk-sdk/tutorials/index.html">Upgrade</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{site.url}}/lisk-core/upgrade/binary.html">Binary (default)</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/upgrade/commander.html">Commander</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/upgrade/docker.html">Docker</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/upgrade/source.html">Source</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="https://lisk.io/documentation/lisk-sdk/tutorials/index.html">Administration</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{site.url}}/lisk-core/administration/binary.html">Binary (default)</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/administration/commander.html">Commander</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/administration/docker.html">Docker</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/administration/source.html">Source</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="https://lisk.io/documentation/lisk-sdk/tutorials/index.html">Guides</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{site.url}}/lisk-core/monitoring.html">Monitoring</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/migration.html">Migrating</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/troubleshooting.html">Troubleshooting</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Reference</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{site.url}}/lisk-core/configuration.html">Configuration</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/api.html">Testnet API</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-core/api-mainnet.html">Mainnet API</a>
                </div>
              </div>
            {{else if (eq page.component.name "lisk-protocol") }}
              COMING SOON
            {{else}}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="https://lisk.io/documentation/lisk-sdk/tutorials/index.html">Tutorials</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{site.url}}/lisk-sdk/tutorials/hello-world.html">Hello World</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-sdk/tutorials/transport.html">Supply chain</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Reference</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{site.url}}/lisk-sdk/reference/api.html">API specification</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-sdk/lisk-elements/packages.html">Lisk Elements</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-sdk/lisk-commander/user-guide.html">Lisk Commander</a>
                  <a class="navbar-item" href="{{site.url}}/lisk-sdk/lisk-framework">Lisk Framework</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Resources</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="https://lisk.io/roadmap"><i class="icofont-map-pins"></i>Roadmap</a>
                  <a class="navbar-item" href="https://lisk.io/research"><i class="icofont-laboratory"></i>Research</a>
                  <a class="navbar-item" href="https://lisk.io/blog"><i class="icofont-paper"></i>Blog</a>
                  <a class="navbar-item" href="https://lisk.io/apps"><i class="icofont-dashboard-web"></i>Blockchain Apps List</a>
                  <a class="navbar-item" href="https://lisk.io/builders-program"><i class="icofont-worker"></i>Lisk Builders Program</a>
                  <a class="navbar-item" href="https://lisk.io/community"><i class="icofont-people"></i>Community</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">Github</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" target="_blank" href="https://github.com/LiskHQ/lisk-sdk">Lisk SDK<i class="icofont-external-link"></i></a>
                  <a class="navbar-item" target="_blank" href="https://github.com/LiskHQ/lisk-core">Lisk Core <i class="icofont-external-link"></i></a>
                  <a class="navbar-item" target="_blank" href="https://github.com/LiskHQ/lisk-sdk-examples">Example Applications <i class="icofont-external-link"></i></a>
                </div>
              </div>
            {{/if}}
          </div>
          {{#if env.ALGOLIA_API_KEY}}
            <div class="navbar-menu">
              <div class="navbar-item hide-for-print">
                <input id="search-input" type="text" placeholder="Search docs">
              </div>
            </div>
          {{/if}}
        </div>
      </div>
  </nav>
</header>
