<header class="header">
  <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-brand">
          <a href="https://lisk.io" title="Lisk.io" class="lisk-logo"></a>
            <span  class="nav-brand__name-area">
            {{#if (eq page.component.name "lisk-core") }}
              <strong class="nav-brand__name-area__title">Core</strong>
            {{else if (eq page.component.name "lisk-protocol") }}
              <strong class="nav-brand__name-area__title">Protocol</strong>
            {{else}}
              <strong class="nav-brand__name-area__title">SDK</strong>
            {{/if}}
            </span>
          {{> top-versions}}
          <button class="navbar-burger" data-target="topbar-nav">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="">Documentations</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{site.url}}/lisk-protocol/">Lisk Protocol</a>
                <a class="navbar-item" href="{{site.url}}/lisk-sdk/">Lisk SDK</a>
                <a class="navbar-item" href="{{site.url}}/lisk-core/">Lisk Core</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="">Specifications</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{site.url}}/lisk-sdk/specifications/lisk-commander/">Lisk Commander</a>
                <a class="navbar-item" href="{{site.url}}/lisk-sdk/specifications/lisk-elements/">Lisk Elements</a>
                <a class="navbar-item" href="{{site.url}}/lisk-sdk/specifications/lisk-framework/">Lisk Framework</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="">Resources</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href=""><strong>Lisk Core API</strong></a>
                <a class="navbar-item" href="{{site.url}}/lisk-core/3.0.0/reference/api.html">Betanet</a>
                <a class="navbar-item" href="{{site.url}}/lisk-core/reference/api.html">Testnet</a>
                <a class="navbar-item" href="{{site.url}}/lisk-core/reference/api-mainnet.html">Mainnet</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href=""><strong>Lisk Network Explorer</strong></a>
                <a class="navbar-item" target="_blank" href="https://betanet-explorer.lisk.io/">Betanet<i class="icofont-external-link"></i></a>
                <a class="navbar-item" target="_blank" href="https://testnet-explorer.lisk.io/">Testnet<i class="icofont-external-link"></i></a>
                <a class="navbar-item" target="_blank" href="https://explorer.lisk.io/">Mainnet<i class="icofont-external-link"></i></a>
              </div>
            </div>
          </div>
          {{#if env.ALGOLIA_API_KEY}}
            <div class="navbar-menu search-box hide-for-print">
              <input id="search-input" type="text" placeholder="Search">
            </div>
          {{/if}}
        </div>
        <div class="navbar-item navbar-right">
<!--
          <a href="https://lisk.chat" title="Lisk Chat" target="_blank" class="footer__icon icon-discord-2x"></a>
-->
          <a href="https://github.com/LiskHQ" title="Lisk GitHub" target="_blank" class="footer__icon icon-github-2x"></a>
          <span class="control">
            <a class="button is-primary" target="_blank" title="Lisk Dev Forum" href="https://dev.lisk.io/">Get help</a>
          </span>
        </div>
      </div>
  </nav>
</header>
