<div class="navigation-explore" data-panel="explore">
  <div class="current">
    <span class="title">{{domain.title}}</span>
    <span class="version">{{domain.version.string}}</span>
  </div>
  <ul class="domains">
    {{#each site.domains}}
    <li class="domain{{#if ./selected}} is-current{{/if}}">
      <span class="title">{{{./title}}}</span>
      <ul class="versions">
        {{#each ./versions}}
        <li class="version{{#if ./selected}} is-current{{/if}}{{#if ./latest}} is-latest{{/if}}">
          <a href="{{{./url}}}">{{./string}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
