{{#unless page.home}}
<div class="bottom-links">
  <div><a class="bottom-link" href="/lisk-docs{{page.previous.url}}"><i class="icofont-double-left icofont-3x"></i>{{{page.previous.content}}}</a></div>
  <div><a class="bottom-link" href="/lisk-docs{{page.next.url}}">{{{page.next.content}}}<i class="icofont-double-right icofont-3x"></i></a></div>
  <!--<div><a href="{{site.path}}{{page.previous.url}}"><i class="icofont-double-left icofont-3x"></i></a></div>
  <div><a href="{{site.path}}{{page.next.url}}"><i class="icofont-double-right icofont-3x"></i></a></div>-->
</div>
{{/unless}}




